*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto'; */
}
html {
  scroll-behavior: smooth;
}

a:link, a:visited, a:active {
  color: #313438;
  text-decoration: none;
}

a:hover {
  color:rebeccapurple;
  text-decoration: underline;
}